<section class="cart">
  <div class="main">
    <div class="cart__container">
      <h4>Ваша корзина</h4>
      <div class="titlecart">
        <p>Количество</p>
        <p>Стоимость</p>
        <p>Очистить</p>
      </div>
      <div class="cart__items">
        <div class="cart__item">
          <div class="cart__image">
            <img src="images/LGlut.png" alt="" />
            <p>D3-Веганский витамин D3 из водорослей</p>
          </div>
          <div class="rightinfo">
            <div class="flex2item">
              <div class="cart__counter">
                <button class="counter-minus2">-</button>
                <p class="counter-display2"></p>
                <button class="counter-plus2">+</button>
              </div>
              <p>15 000 грн</p>
            </div>
            <img src="images/cartSmall.svg" alt="" />
          </div>
        </div>
        <div class="cart__item">
          <div class="cart__image">
            <img src="images/LGlut.png" alt="" />
            <p>D3-Веганский витамин D3 из водорослей</p>
          </div>
          <div class="rightinfo">
            <div class="flex2item">
              <div class="cart__counter">
                <button class="counter-minus">-</button>
                <p class="counter-display"></p>
                <button class="counter-plus">+</button>
              </div>
              <p>15 000 грн</p>
            </div>
            <img src="images/cartSmall.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="total">
        <p>Итого:</p>
        <p>35 000 грн</p>
      </div>
    </div>
  </div>
</section>