<footer>
    <div class="inner">
      <div class="logo-col">
        <h2>preventa.</h2>
        <p>© Все права защищены ООО "Превента"</p>
        <div class="button">Priventa <img src="images/ArrowWhite.png"></div>
      </div>
      <div class="navigation">
        <div class="col">
          <a href="">О нас</a>
          <a href="">Контакты</a>
        </div>
        <div class="col">
          <a href="">Общие правила <br> пользования сайтом</a>
          <a href="">Политика <br> конфеденциальности</a>
        </div>
        <div class="col">
          <a href="">Обмен и возврат</a>
          <a href="">Оплата и доставка</a>
        </div>
        <a href="">Следите за нами в соц. сетях <img src="images/fb.png" alt=""> <img src="images/insta.png" alt=""></a>
      </div>
      <div class="contactsFooter">
        <div class="contactItem"><img src="images/location.svg" alt="">г. Киев, ул. Василия Тютюнника, 28-А</div>
        <div class="contactItem"><img src="images/phone.svg" alt="">+31 (0)186-626173</div>
        <div class="contactItem"><img src="images/mail.svg" alt="">info@springfieldnutra.com</div>
        <div class="contactItem"><img src="images/mobile.svg" alt="">Мобильная версия</div>
      </div>
    </div>
  </footer>