<header class="menu">
    <div class="menu__head">
        <div>
            <a href="#">EN</a>
            <a href="#">UK</a>
        </div>
        <a href="#" class="contactsLink">Контакты</a>
        <div>
            <a href="#" class="search"><img src="images/search.svg" alt="search" /></a>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li>
                        <div class="dropdown">
                            <button class="mainmenubtn"><a>Нутрицевтики</a></button>
                            <div class="dropdown-child">
                              <a href="#">Подраздел 1</a>
                              <a href="#">Подраздел 2</a>
                              <a href="#">Подраздел 3</a>
                              <a href="#">Подраздел 4</a>
                              <a href="#">Подраздел 5</a>
                            </div>
                          </div>
                    </li>
                    <li><a class="menu__item" href="#">Инградиенты</a></li>
                    <li><a class="menu__item" href="#">Контакты</a></li>
                    <li class="icon-burger">

                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="menu__main">
        <h1>preventa.</h1>
        <div class="menu__rightNavigation">
            <ul>
                <li>
                    <a href="#"><label class="link" for="hider" id="clickme">Нутрицевтики</label></a>
                    <input type="checkbox" id="hider">
                    <div class="content">
                        <a href="#">Коэнзимы</a>
                        <a href="#">Жирные кислоты (омега)</a>
                        <a href="#">Фитонутриенты</a>
                        <a href="#">Пробиотики</a>
                        <a href="#">Аминокислоты</a>
                        <a href="#">Пребиотики</a>
                        <a href="#">Витамины</a>
                        <a href="#">Микроелементы</a>
                    </div>
                </li>
                <li><a href="#">Инградиенты</a></li>
            </ul>
            <div class="menu__icon">
                <a href="#" class="search"><img src="images/search.svg" alt="search" /></a>
                <a href="#" class="cart"><img src="images/cart.png" alt="search" /></a>
            </div>
        </div>
    </div>
</header>