<div class="path">
  <img src="images/ArrowLeft.png" alt="arrow" />
  <a href="">Вернуться к покупкам</a>
</div>
<section class="formPay">
  <div class="main">
    <div class="formPay__container">
      <div class="titlePay">
        <h2>@@title</h2>
        <p>Номер вашего заказа: 123456</p>
      </div>
      <div class="formItems">
        <div class="formItems__flex">
          <div class="formItems__item">
            <p>ФИО: </p>
            <input type="text" placeholder="Смирнова Инна Игоревна" />
          </div>
          <div class="formItems__item">
            <p>Телефон: </p>
            <input type="tel" placeholder="+31 (0)186-626173" />
          </div>
          <div class="formItems__item">
            <p>Дата доставки: </p>
            <input type="text" placeholder="29.06.2022" />
          </div>
        </div>
        <div class="formItems__flex">
          <div class="formItems__item2">
            <p>Способ доставки: </p>
            <input type="tel" placeholder="Курьером" />
          </div>
          <div class="formItems__item2">
            <p>Способ оплаты: </p>
            <input type="tel" placeholder="Картой" />
          </div>
          <div class="formItems__item2">
            <p>Адрес доставки: </p>
            <input type="tel" placeholder="г. Киев, ул. Василия Тютюнника, 28-А" />
          </div>
        </div>
        <div class="formItems__item3">
          <p>Комментарий: </p>
          <textarea>текст комментария где заказчикуказывает что то по заказу, текст шаблон  </textarea>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order">
  <div class="main">
    <div class="order__container">
      <div class="order__card">
        <p>Ваш заказ:</p>
        <div class="oneItem">
          <div class="oneItem__image">
            <img src="images/LGlut.png" alt="" />
            <h4>D3-Веганский витамин D3 из водорослей</h4>
          </div>
          <div class="orderSum"style="display:flex; justify-content:space-between; width: 35%;padding-left: 10px;">

            <p>3 шт </p>
            <p class="oneItem__price">15 000 грн</p>
          </div>
        </div>
        <div class="oneItem">
          <div class="oneItem__image">
            <img src="images/LGlut.png" alt="" />
            <h4>D3-Веганский витамин D3 из водорослей</h4>
          </div>
          <p>3 шт </p>
          <p class="oneItem__price">15 000 грн</p>
        </div>
      </div>
      <div class="total_price">
        <p>Итого:</p>
        <p>35 000 грн</p>
      </div>
    </div>
  </div>

</section>